body {
	font-family: sans-serif;
	line-height: 1.5;
}

.none { display: none; }


/* Шапка */

header {
	padding: 30px 30px 40px;
	background-color: #f7e017;
	margin-bottom: 30px;
}

header h1 {
	margin-top: 0;
}

h1 {
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 5px;
}

.project-name {
	font-size: 20px;
	font-weight: 600;
	color: #bba800;
}

/* Общие стили */

.dom-example {
	margin-top: 40px;
	margin-bottom: 40px;
}


/* Инпут с дублированием текста */

.input-text {
	font-size: 18px;
	padding: 10px 15px;
	margin-bottom: 5px;
}

/* Список дел */

.simple-todo {
	margin-top: 40px;
}


